name: Linting

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**.json"
      - "**.php"
  pull_request:
    branches:
      - main
    paths:
      - "**.json"
      - "**.php"

jobs:
  laravel-pint:
    name: PHP Linting (Pint)

    if: github.event.pull_request.draft == false

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # Make sure the actual branch is checked out when running on pull requests.
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Laravel Pint
        uses: aglipanci/laravel-pint-action@2.6
        with:
          parallel: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: PHP Linting (Pint)
