name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**.json"
      - "**.php"
      - "**.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**.json"
      - "**.php"
      - "**.yml"
  schedule:
    - cron: "0 1 * * 1" # Run at 01:00 on Mondays.

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        php: [8.4, 8.3, 8.2]
        testbench: [10.0, 9.0, 8.0]
        version: [prefer-stable, prefer-lowest]
        include:
          - version: prefer-stable
            meilisearch: latest
          - version: prefer-lowest
            meilisearch: v1.0.0

    runs-on: ubuntu-latest

    name: P${{ matrix.php }} - T${{ matrix.testbench }} - ${{ matrix.version }}

    container:
      image: kirschbaumdevelopment/laravel-test-runner:${{ matrix.php }}
      options: "--user=root"

    services:
      meilisearch:
        image: getmeili/meilisearch:${{ matrix.meilisearch }}
        ports:
          - 7700:7700
        options: >-
          --health-cmd="curl --fail http://localhost:7700/health"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
        env:
          MEILI_MASTER_KEY: MeiliToolsMasterKey
          MEILI_NO_ANALYTICS: "true"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Make sure the actual branch is checked out when running on pull requests.
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          git config --global --add safe.directory /__w/laravel-meilitools/laravel-meilitools
          composer require --dev "orchestra/testbench:^${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.version }} --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/pest
